##########################################################
####  WRF-Hydro ESMX Test Application Configuration  #####
##########################################################

logKindFlag:            ESMF_LOGKIND_MULTI
globalResourceControl:  .true.

ESMX_log_flush:        .true.
ESMX_field_dictionary: fd.yaml

ESMX_component_list:   LND HYD
ESMX_attributes::
  Verbosity = high
::

LND_model:            ESMX_Data
LND_petlist:          0 3
LND_attributes::
  Verbosity = high
  Diagnostic = 0
  coordSys = ESMF_COORDSYS_SPH_DEG
  minx = -73.916667
  maxx = -73.616667
  miny = 41.350000
  maxy = 41.566667
::

# "field" "dimensions" "min_value" "max_value"
LND_import_fields::
  "soil_moisture_fraction_layer_1          " "2" "0" "1"
  "soil_moisture_fraction_layer_2          " "2" "0" "1"
  "soil_moisture_fraction_layer_3          " "2" "0" "1"
  "soil_moisture_fraction_layer_4          " "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_1" "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_2" "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_3" "2" "0" "1"
  "liquid_fraction_of_soil_moisture_layer_4" "2" "0" "1"
  "surface_water_depth                     " "2" "0" "1"
::

# "field" "dimensions" "fill_value"
LND_export_fields::
  "soil_moisture_fraction_layer_1          " "2" "0.2"
  "soil_moisture_fraction_layer_2          " "2" "0.2"
  "soil_moisture_fraction_layer_3          " "2" "0.2"
  "soil_moisture_fraction_layer_4          " "2" "0.2"
  "liquid_fraction_of_soil_moisture_layer_1" "2" "0.2"
  "liquid_fraction_of_soil_moisture_layer_2" "2" "0.2"
  "liquid_fraction_of_soil_moisture_layer_3" "2" "0.2"
  "liquid_fraction_of_soil_moisture_layer_4" "2" "0.2"
  "soil_temperature_layer_1                " "2" "288"
  "soil_temperature_layer_2                " "2" "288"
  "soil_temperature_layer_3                " "2" "288"
  "soil_temperature_layer_4                " "2" "288"
  "time_step_infiltration_excess           " "2" "0"
  "soil_column_drainage                    " "2" "0"
::

HYD_model:            WRFHYDRO
HYD_petlist:          0 3
HYD_attributes::
  Verbosity = max
  Diagnostic = 0
  Profiling = 0
  realize_all_export = false
  config_file = hydro.namelist
  das_config_file = namelist.hrldas
  time_step = 0
  forcings_directory = NONE
  domain_id = 1
  nest_to_nest = false
  import_dependency = false
  write_restart = false
  read_restart = false
  input_directory = HYD_INPUT
  output_directory = HYD_OUTPUT
::

startTime:  2010-06-01T00:00:00
stopTime:   2010-06-01T03:00:00

runSeq::
  @3600
    LND
    LND -> HYD
    HYD
    HYD -> LND
  @
::
